/*---------- [ EXPLORE RESTAURANTS HERO ] --------- */
.explorer {
  background: $light-grey-color;
  text-align: center;
  padding-bottom: 50px;
  &__localisation {
    height: 50px;
    background: $medium-grey-color;
    @include flexCenter;
    & p {
      display: block;
      width: 200px;
      margin: $margin-center;
      text-align: left;
    }
    & .fas {
      margin: 17px;
    }
  }
  &__quote {
    padding: 36px 35px 30px;
    & strong {
      margin-bottom: 12px;
    }
  }
}
