/*---------- [ FOOTER ] --------- */
.footer {
  background: $dark-grey-color;
  color: #fff;
  &__wrap {
    padding: 20px;
    max-width: $max-width;
    width: $full-width;
    margin: $margin-center;
  }
  &__logo {
    margin-bottom: 15px;
  }
  &__link {
    color: #fff;
    font-weight: 100;
    &:hover {
      text-decoration: underline;
    }
  }
  &__icon {
    width: 10px;
    margin-right: 15px;
  }
}
