/*--------[ HEADER ]---------*/
.header {
  position: relative;
  width: $full-width;
  height: 63px;
  box-shadow: 0 1px 5px rgb(192, 192, 192);
  &__logo {
    text-align: center;
    width: $full-width;
    padding: 10px 0;
    margin: $margin-center;
  }
  &__back-link a {
    position: absolute;
    top: 35%;
    left: 20px;
    transition: transform 0.3s;
    &:visited {
      text-decoration: none;
      color: #000;
    }
    &:hover {
      transform: scale(1.3);
    }
  }
}
