/* RESTAURANT CARD */
.restaurant {
  position: relative;
  display: block;
  margin-top: 20px;
  padding-bottom: 10px;
  width: $full-width;
  height: 257px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgb(211, 211, 211);
  transition: box-shadow 0.2s;
  &:hover {
    @include hoverShadow;
  }
  &__new-feature {
    position: absolute;
    right: 10px;
    top: 15px;
    padding: 6px 13px;
    color: darken($tertiary-color, 40%);
    background: $tertiary-color;
    border-radius: 2px;
  }
  &__photo {
    object-fit: cover;
    width: 100%;
    height: 70%;
    border-radius: 15px 15px 0 0;
  }
  &__infos {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  & .like-btn {
    display: inline-block;
    margin: 5px 10px 0 0;
  }
  & .fas {
    display: none;
    color: #f6f6f6;
  }
}
