/*---------- [ RESTAURANTS SECTION ] --------- */
.restaurants {
  width: 100%;
  background: $light-grey-color;
  padding-bottom: 20px;
}

/* RESTAURANT CARD */
.restaurant {
  position: relative;
  display: block;
  margin-top: 20px;
  padding-bottom: 10px;
  width: 100%;
  height: 257px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgb(211, 211, 211);
  transition: box-shadow 0.2s;
  &:hover {
    @include hoverShadow;
  }
  &__new-feature {
    position: absolute;
    right: 10px;
    top: 15px;
    padding: 6px 13px;
    color: darken($tertiary-color, 40%);
    background: $tertiary-color;
    border-radius: 2px;
  }
  &__pix {
    object-fit: cover;
    width: 100%;
    height: 70%;
    border-radius: 15px 15px 0 0;
  }
  &__infos {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__icon {
    display: inline-block;
    margin: 5px 10px 0 0;
    // transition: 0.3s;
    &:hover {
      // color: #f6f6f6;
      .like-fas {
        display: inline-block;
        background-repeat: no-repeat;
        background-position: bottom;
        animation: gradientPosition 370ms forwards;
      }
      .like-far {
        display: none;
      }
    }
  }
  & .fas {
    display: none;
    // height: 0;
    color: #f6f6f6;
    // transform-origin: bottom;
    // transform: translateY(100%);
  }
}
