/*---- STEP TUTORIAL ----*/
.step {
  width: $full-width;
  height: 75px;
  margin: 20px 0 7px 11px;
  display: flex;
  align-items: center;
  background: $light-grey-color;
  box-shadow: 0 3px 15px rgb(214, 214, 214);
  border-radius: 20px;
  transition: 0.3s;
  &:hover {
    background: lighten(#9356dc, 36%);
    .step__icon {
      color: $primary-color;
    }
  }
  &__number {
    background: $primary-color;
    color: #fff;
    width: 26px;
    height: 26px;
    border-radius: 100%;
    @include flexCenter;
    margin-left: -11px;
    margin-right: 20px;
  }
  &__icon {
    display: block;
    width: 22px;
    margin-right: 20px;
    color: $icon-grey-color;
  }
}
