@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

.home {
  overflow-y: hidden;
  animation: afterLoad 0s ease-in-out 2.5s forwards;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

/*---------- [ Typography ] --------- */
body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.9em;
  font-weight: 500;
}

h2 {
  font-size: 1em;
  font-weight: 400;
}

.logo {
  font-family: "Shrikhand", cursive;
  font-size: 1.9em;
  font-weight: 500;
}

.btn {
  font-size: 1em;
}

.like-btn {
  font-size: 1.6em;
}
.like-btn .fa-stack {
  line-height: unset;
}

.header .fa-lg {
  line-height: unset;
}

.explorer__localisation {
  font-size: 1em;
  font-weight: 500;
  color: #353535;
}
.explorer__quote h2 {
  font-size: 1.6em;
  font-weight: 600;
}
.explorer__quote p {
  font-size: 1.1em;
  font-weight: 100;
}

.step {
  font-size: 1em;
}
.step__icon {
  font-size: 1.2em;
}
.step__text {
  font-weight: 500;
}

.section-title {
  font-family: "Roboto", sans-serif;
  font-size: 1.6em;
  font-weight: 600;
}

.restaurant__new-feature {
  font-size: 1em;
  font-weight: 600;
}
.restaurant__infos {
  font-size: 1.1em;
  line-height: 1.5em;
}
.restaurant__position {
  font-weight: 100;
}
.restaurant__icon {
  font-size: 1.5em;
}

.menu-cards__title {
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
}

.menu-card__title {
  font-size: 1.2em;
  font-weight: 600;
}
.menu-card__infos {
  line-height: 1.5em;
}
.menu-card__description {
  font-size: 1em;
  font-weight: 100;
}
.menu-card__price {
  font-size: 0.9em;
}
.menu-card .fa-check {
  font-size: 0.9em;
}

.footer__logo {
  font-weight: 100;
  font-size: 1.1em;
}
.footer__list {
  line-height: 1.7em;
}
.footer .fa-utensils {
  font-size: 0.8em;
}
.footer .fa-hands-helping {
  font-size: 0.7em;
}

/* --------- [ Loader animation ]---------- */
/* -> Unlock scroll */
@keyframes afterLoad {
  to {
    overflow: visible;
  }
}
/* -> Hide loader */
@keyframes load {
  to {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
}
/* -> Dot animation loader */
@keyframes loader1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loader2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/* ----------[ Home like hover ]------------- */
@keyframes background-position {
  to {
    background-size: 200% 100%;
  }
}
/* ----------[ menu list ]------------- */
.menu-card__link:nth-of-type(1) {
  opacity: 0;
  animation: fade-in 1s forwards;
  animation-delay: 250ms;
}

.menu-card__link:nth-of-type(2) {
  opacity: 0;
  animation: fade-in 1s forwards;
  animation-delay: 500ms;
}

.menu-card__link:nth-of-type(3) {
  opacity: 0;
  animation: fade-in 1s forwards;
  animation-delay: 750ms;
}

.menu-card__link:nth-of-type(4) {
  opacity: 0;
  animation: fade-in 1s forwards;
  animation-delay: 1000ms;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/*---------- [ LOADER ] --------- */
.loader {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(255, 255, 255, 0.925);
  z-index: 1000;
  visibility: visible;
  opacity: 100%;
  animation: load 0s 2.5s forwards;
  overflow: hidden;
}
.loader--position {
  position: fixed;
}
.loader__container {
  display: inline-block;
  position: relative;
  width: 130px;
  height: 30px;
  top: 45%;
}
.loader__dot {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: 0 5px 5px #a5a5a5;
}
.loader__dot:nth-child(1) {
  background: grey;
  left: 8px;
  animation: loader1 0.6s infinite;
}
.loader__dot:nth-child(2) {
  background-image: linear-gradient(175deg, #ff79da 1%, #9356dc 99%);
  z-index: 100;
  left: 15px;
  animation: loader2 0.6s infinite;
}
.loader__dot:nth-child(3) {
  background-image: linear-gradient(175deg, #ff79da 1%, #9356dc 99%);
  z-index: 100;
  left: 45px;
  animation: loader2 0.6s infinite;
}
.loader__dot:nth-child(4) {
  background-image: linear-gradient(175deg, #ff79da 1%, #9356dc 99%);
  z-index: 100;
  left: 75px;
  animation: loader2 0.6s infinite;
}
.loader__dot:nth-child(5) {
  background: grey;
  z-index: -100;
  left: 100px;
  animation: loader3 0.6s infinite;
}

/*---------- [ BUTTONS ] --------- */
.btn {
  border-radius: 50px;
  padding: 16px 22px;
  color: #fff;
  border: none;
  box-shadow: 0 5px 7px #d4d4d4;
  background-image: linear-gradient(175deg, #ff79da 1%, #9356dc 99%);
  transition: 0.1s;
  cursor: pointer;
}
.btn:hover {
  background-image: linear-gradient(175deg, #ff93e1 1%, #a16be0 99%);
  box-shadow: 0 5px 12px #adadad;
}

/*---------- [ LIKE BUTTONS ] --------- */
.like-btn {
  margin: 20px;
}
.like-btn .fa-stack {
  width: 30px;
  height: 30px;
}
.like-btn .fas {
  background-image: linear-gradient(160deg, #9356dc 1%, #ff79da 99%);
  color: transparent;
  -webkit-background-clip: text;
  display: none;
}
.like-btn:hover .fas {
  display: inline-block;
  background-image: linear-gradient(160deg, #9356dc 1%, #ff79da 99%);
  color: transparent;
  -webkit-background-clip: text;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 0% 0%;
  animation: background-position 700ms forwards;
}
.like-btn:hover .far {
  transition: 0.3s;
  background-image: linear-gradient(160deg, #9356dc 1%, #ff79da 99%);
  color: transparent;
  -webkit-background-clip: text;
}

/*---------- [ EXPLORE RESTAURANTS HERO ] --------- */
.explorer {
  background: #f6f6f6;
  text-align: center;
  padding-bottom: 50px;
}
.explorer__localisation {
  height: 50px;
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.explorer__localisation p {
  display: block;
  width: 200px;
  margin: 0 auto;
  text-align: left;
}
.explorer__localisation .fas {
  margin: 17px;
}
.explorer__quote {
  padding: 36px 35px 30px;
}
.explorer__quote strong {
  margin-bottom: 12px;
}

/*--------- [ SECTION TUTORIAL ]-----------*/
.tutorial {
  width: 100%;
}
.tutorial__title {
  font-size: 1.5em;
}
.tutorial__steps {
  width: 100%;
  padding: 0;
  margin-top: 5px;
}

/* --> Tutorial steps */
.step {
  width: 100%;
  height: 75px;
  margin: 20px 0 7px 11px;
  display: flex;
  align-items: center;
  background: #f6f6f6;
  box-shadow: 0 3px 15px #d6d6d6;
  border-radius: 20px;
  transition: 0.3s;
}
.step:hover {
  background: #f4eefc;
}
.step:hover .step__icon {
  color: #9356dc;
}
.step__number {
  background: #9356dc;
  color: #fff;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -11px;
  margin-right: 20px;
}
.step__icon {
  display: block;
  width: 22px;
  margin-right: 20px;
  color: #7e7e7e;
}

/*---------- [ RESTAURANTS SECTION ] --------- */
.restaurants {
  width: 100%;
  background: #f6f6f6;
  padding-bottom: 20px;
}

/* --> RESTAURANT CARD */
.restaurant {
  position: relative;
  display: block;
  margin-top: 20px;
  padding-bottom: 10px;
  width: 100%;
  height: 257px;
  border-radius: 15px;
  box-shadow: 0 5px 15px lightgray;
  transition: box-shadow 0.2s;
}
.restaurant:hover {
  box-shadow: 0 5px 12px #adadad;
}
.restaurant__new-feature {
  position: absolute;
  right: 10px;
  top: 15px;
  padding: 6px 13px;
  color: #278870;
  background: #99e2d0;
  border-radius: 2px;
}
.restaurant__photo {
  object-fit: cover;
  width: 100%;
  height: 70%;
  border-radius: 15px 15px 0 0;
}
.restaurant__infos {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.restaurant .like-btn {
  display: inline-block;
  margin: 5px 10px 0 0;
}
.restaurant .fas {
  display: none;
  color: #f6f6f6;
}

/*----- [ SECTION HERO BACKGROUND ]----*/
.hero {
  width: 100%;
  height: 270px;
}
.hero__background {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*--------- [ SECTION MENU ]-----------*/
.menu {
  margin-top: -35px;
  position: relative;
}
.menu .wrapper--menu {
  border-radius: 40px 40px 0 0;
  padding: 22px 15px;
  background: #f6f6f6;
  overflow: hidden;
}
.menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__item {
  width: 100%;
  margin-top: 20px;
}
.menu__item--header {
  margin-left: 1%;
}
.menu__item hr {
  width: 40px;
  height: 3px;
  border: none;
  background: #99e2d0;
  margin-top: 7px;
}
.menu__title {
  font-size: 1.7em;
  margin-left: 1%;
}
.menu__order-btn {
  text-align: center;
}
.menu__btn {
  width: 190px;
  margin: 20px 0 40px;
}

.menu-list {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}

.menu-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: #fff;
  height: 75px;
  border-radius: 20px;
  box-shadow: 0 3px 15px #d6d6d6;
  margin: 15px 0;
  overflow: hidden;
}
.menu-card__infos {
  height: 100%;
  width: 90%;
  padding: 15px 7px 15px 10px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}
.menu-card__title {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}
.menu-card__description {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}
.menu-card .right-wrap {
  display: flex;
  align-items: flex-end;
  height: 100%;
}
.menu-card__price {
  margin: 0 20px 10px 5px;
  font-weight: 500;
}
.menu-card__check-icon {
  background: #99e2d0;
  height: 100%;
  width: 60px;
  border-radius: 0 20px 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -60px;
  transition: 0.4s;
}
.menu-card__check-icon .fa-check {
  color: #99e2d0;
  background: #fff;
  border-radius: 100%;
  height: 22px;
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(360deg);
  transition: 0.4s;
}
.menu-card:hover .menu-card__check-icon {
  margin-right: 0;
}
.menu-card:hover .fa-check {
  transform: rotate(0deg);
}

.container {
  width: 100%;
}
.container .wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 50px 20px;
}
.container .wrapper--menu {
  max-width: 1280px;
  margin: 0 auto;
}

/* ---- [ Responsive Tutorial ] ---- */
@media screen and (min-width: 992px) {
  .tutorial__steps {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 992px) {
  .step {
    margin-left: 20px;
    max-width: 30%;
  }
}

/* ---- [ Responsive Restaurants ] ----*/
@media screen and (min-width: 992px) {
  .restaurants__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 992px) {
  .restaurant {
    max-width: 49%;
  }
}

/* ---- [ Responsive restaurant page ] ---- */
@media screen and (min-width: 992px) {
  .menu-cards {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 992px) {
  .menu-list {
    width: 96%;
    max-width: 400px;
  }
}

@media screen and (min-width: 992px) {
  .menu__item {
    justify-content: space-between;
  }
}

/*--------[ HEADER ]---------*/
.header {
  position: relative;
  width: 100%;
  height: 63px;
  box-shadow: 0 1px 5px silver;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.header__logo {
  text-align: center;
  width: 165px;
  margin: 0 auto;
}
.header__back-link {
  position: absolute;
  top: 30%;
  transition: transform 0.3s;
}
.header__back-link:visited {
  text-decoration: none;
  color: #000;
}
.header__back-link:hover {
  transform: scale(1.3);
}

/*---------- [ FOOTER ] --------- */
.footer {
  background: #353535;
  color: #fff;
}
.footer__wrap {
  padding: 20px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
.footer__logo {
  margin-bottom: 15px;
}
.footer__link {
  color: #fff;
  font-weight: 100;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__icon {
  width: 10px;
  margin-right: 15px;
}

/*# sourceMappingURL=style.css.map */
