/* Unlock scroll */
@keyframes afterLoad {
  to {
    overflow: visible;
  }
}

/* Hide loader */
@keyframes load {
  to {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
}

/* Dot animation loader */
@keyframes loader1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loader2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
