/* --------- [ Loader animation ]---------- */

/* -> Unlock scroll */
@keyframes afterLoad {
  to {
    overflow: visible;
  }
}

/* -> Hide loader */
@keyframes load {
  to {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
}

/* -> Dot animation loader */
@keyframes loader1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
@keyframes loader3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

/* ----------[ like hover ]------------- */

@keyframes background-position {
  to {
    background-size: 200% 100%;
  }
}

/* ----------[ menu list ]------------- */

@for $i from 1 to 5 {
  .menu-card__link:nth-of-type(#{$i}) {
    opacity: 0;
    animation: fade-in 1s forwards;
    animation-delay: $i * 250ms;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
