@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Shrikhand&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
  &:visited {
    color: #000;
  }
}

main {
  section {
    padding: 20px;
  }
}
