@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}
.home {
  overflow-y: hidden;
  animation: afterLoad 0s ease-in-out 2.5s forwards;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}
