/*---------- [ Typography ] --------- */
body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: $large;
  font-weight: 500;
}

h2 {
  font-size: $normal;
  font-weight: 400;
}

.logo {
  font-family: "Shrikhand", cursive;
  font-size: $large;
  font-weight: 500;
}

// ---> COMPONENTS

.btn {
  font-size: $normal;
}

.like-btn {
  font-size: $xx-medium;
  .fa-stack {
    line-height: unset;
  }
}

// ---> HEADER

.header {
  & .fa-lg {
    line-height: unset;
  }
}

// ---> HOME HERO
.explorer {
  &__localisation {
    font-size: $normal;
    font-weight: 500;
    color: #353535;
  }
  &__quote {
    & h2 {
      font-size: $xx-medium;
      font-weight: 600;
    }
    & p {
      font-size: $x-normal;
      font-weight: 100;
    }
  }
}

// ---> HOME - TUTORIAL
.step {
  font-size: $normal;
  &__icon {
    font-size: $xx-normal;
  }
  &__text {
    font-weight: 500;
  }
}

// ---> HOME - SECTIONS
.section-title {
  font-family: "Roboto", sans-serif;
  font-size: $xx-medium;
  font-weight: 600;
}

// ---> HOME - CARDS
.restaurant {
  &__new-feature {
    font-size: $normal;
    font-weight: 600;
  }
  &__infos {
    font-size: $x-normal;
    line-height: $x-medium;
  }
  &__position {
    font-weight: 100;
  }
  &__icon {
    font-size: 1.5em;
  }
}

// ---> MENU - CARDS
.menu-cards__title {
  font-size: $normal;
  font-weight: 400;
  text-transform: uppercase;
}
.menu-card {
  &__title {
    font-size: 1.2em;
    font-weight: 600;
  }
  &__infos {
    line-height: $x-medium;
  }
  &__description {
    font-size: $normal;
    font-weight: 100;
  }
  &__price {
    font-size: $small;
  }
  & .fa-check {
    font-size: $small;
  }
}

// ---> FOOTER
.footer {
  &__logo {
    font-weight: 100;
    font-size: $x-normal;
  }
  &__list {
    line-height: 1.7em;
  }
  & .fa-utensils {
    font-size: $x-small;
  }
  & .fa-hands-helping {
    font-size: $xx-small;
  }
}
