//Loop test for animmation

// $menu-fadein: ;

//End test

.menu-list--fadeIn {
  hr {
    opacity: 0;
    animation: slideIn 1s forwards;
  }
  .menu-cards__title {
    // opacity: 0;
    // animation: fadeIn 1s forwards;
    @include fade-in-animation;
  }
  .menu-card__link--delay1 {
    // opacity: 0;
    // animation: fadeIn 1s forwards;
    @include fade-in-animation;
    animation-delay: 0.3s;
  }
  .menu-card__link--delay2 {
    // opacity: 0;
    // animation: fadeIn 1s forwards;
    @include fade-in-animation;
    animation-delay: 0.6s;
  }
  .menu-card__link--delay3 {
    // opacity: 0;
    // animation: fadeIn 1s forwards;
    @include fade-in-animation;
    animation-delay: 0.9s;
  }
  .menu-card__link--delay4 {
    // opacity: 0;
    // animation: fadeIn 1s forwards;
    @include fade-in-animation;
    animation-delay: 1s;
  }
}

.menu-list--fadeIn2 {
  hr {
    // opacity: 0;
    // animation: slideIn 1s forwards;
    @include fade-in-animation;
    animation-delay: 1.2s;
  }
  .menu-cards__title {
    // opacity: 0;
    // animation: fadeIn 1s forwards;
    @include fade-in-animation;
    animation-delay: 1.2s;
  }
  .menu-card__link--delay1 {
    // opacity: 0;
    // animation: fadeIn 1s forwards;
    @include fade-in-animation;
    animation-delay: 1.5s;
  }
  .menu-card__link--delay2 {
    // opacity: 0;
    // animation: fadeIn 1s forwards;
    @include fade-in-animation;
    animation-delay: 1.8s;
  }
  .menu-card__link--delay3 {
    // opacity: 0;
    // animation: fadeIn 1s forwards;
    @include fade-in-animation;
    animation-delay: 2.1s;
  }
}

.menu-list--fadeIn3 {
  hr {
    opacity: 0;
    animation: slideIn 1s forwards;
    animation-delay: 2.4s;
  }
  .menu-cards__title {
    // opacity: 0;
    // animation: fadeIn 1s forwards;
    @include fade-in-animation;
    animation-delay: 2.4s;
  }
  .menu-card__link--delay1 {
    // opacity: 0;
    // animation: fadeIn 1s forwards;
    @include fade-in-animation;
    animation-delay: 2.7s;
  }
  .menu-card__link--delay2 {
    // opacity: 0;
    // animation: fadeIn 1s forwards;
    @include fade-in-animation;
    animation-delay: 3s;
  }
  .menu-card__link--delay3 {
    // opacity: 0;
    // animation: fadeIn 1s forwards;
    @include fade-in-animation;
    animation-delay: 3.3s;
  }
}
