.menu {
  margin-top: -50px;
  position: relative;
  .wrapper--menu {
    border-radius: 40px 40px 0 0;
    padding: 25px 10px;
    background: $light-grey-color;
    overflow: hidden;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin-bottom: 15px;
  }
  &__title {
    font-size: 1.7em;
  }
  & .like-fas {
    display: none;
  }
  &__like-icon {
    font-size: 1.6em;
    margin: 20px;
    &:hover {
      color: transparent;
      .like-fas {
        display: inline-block;
        background-repeat: no-repeat;
        background-position: bottom;
        animation: gradientPosition 370ms forwards;
      }
      .like-far {
        display: none;
      }
    }
  }
  &__order-btn {
    text-align: center;
  }
  &__btn {
    width: 190px;
    margin: 20px 0 40px;
  }
}
