// .menu-cards {
//   hr {
//     width: 40px;
//     height: 2px;
//     border: none;
//     background: $tertiary-color;
//     margin: 5px 0;
//   }
// }

.menu-list {
  display: inline-block;
  width: $full-width;
  margin-bottom: 20px;
}

.menu-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: #fff;
  height: 75px;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgb(214, 214, 214);
  margin: 15px 0;
  overflow: hidden;
  &__infos {
    height: 100%;
    width: 90%;
    padding: 15px 7px 15px 10px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1.5em;
  }
  &__title {
    font-size: 1.2em;
    font-weight: 600;
    @include ellipsis;
  }
  &__description {
    font-size: 1em;
    font-weight: 100;
    @include ellipsis;
  }
  & .right-wrap {
    display: flex;
    align-items: flex-end;
    height: 100%;
  }
  &__price {
    margin: 0 20px 10px 5px;
    font-weight: 500;
    font-size: 0.95em;
  }
  &__check-icon {
    background: $tertiary-color;
    height: 100%;
    width: 60px;
    border-radius: 0 20px 20px 0;
    @include flexCenter;
    margin-right: -60px;
    transition: 0.4s;
    & .fa-check {
      font-size: 0.8em;
      color: $tertiary-color;
      background: #fff;
      border-radius: 100%;
      height: 22px;
      width: 22px;
      @include flexCenter;
      transform: rotate(360deg);
      transition: 0.4s;
    }
  }
  &:hover {
    .menu-card__check-icon {
      margin-right: 0;
    }
    .fa-check {
      transform: rotate(0deg);
    }
  }
}
