/*--------- [ SECTION MENU ]-----------*/
.menu {
  margin-top: -35px;
  position: relative;
  .wrapper--menu {
    border-radius: 40px 40px 0 0;
    padding: 22px 15px;
    background: $light-grey-color;
    overflow: hidden;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__item {
    width: $full-width;
    margin-top: 20px;
    &--header {
      margin-left: 1%;
    }
    & hr {
      width: 40px;
      height: 3px;
      border: none;
      background: $tertiary-color;
      margin-top: 7px;
    }
  }
  &__title {
    font-size: 1.7em;
    margin-left: 1%;
  }
  &__order-btn {
    text-align: center;
  }
  &__btn {
    width: 190px;
    margin: 20px 0 40px;
  }
}
