@mixin linearGradient {
  background-image: linear-gradient(
    180deg,
    $secondary-color 1%,
    $primary-color 99%
  );
}

@mixin heartIconGradient {
  background-image: linear-gradient(
    180deg,
    $secondary-color 1%,
    $primary-color 99%
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
