// App config

// ----------- [  colors
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

$dark-grey-color: #353535;
$medium-grey-color: #eaeaea;
$light-grey-color: #f6f6f6;

$icon-grey-color: #7e7e7e;

// -> Color lighten
$primary-color-lightness: lighten(#9356dc, 5%);
$secondary-color-lightness: lighten(#ff79da, 5%);

// -> Fonts

// $family-logo-titles: "Shrikhand", cursive;
// $family-text: "Roboto", sans-serif;

// $large: 1.9em;
// $test: 1.6em;
// $medium: 1.5em;
// $test: 1.3em;
// $test: 1.2em;
// $test: 1.1em;
// $small: 1em;
// $x-small: 0.9em;

// -> Width
$full-width: 100%;
$max-width: 1280px;

// -> Margin
$margin-center: 0 auto;

// -> Padding
