// ----------- [  colors
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

$dark-grey-color: #353535;
$medium-grey-color: #eaeaea;
$light-grey-color: #f6f6f6;

$icon-grey-color: #7e7e7e;

// -> Color lighten
$primary-color-lightness: lighten(#9356dc, 5%);
$secondary-color-lightness: lighten(#ff79da, 5%);

// -> Width
$full-width: 100%;
$max-width: 1280px;

// -> Margins
$margin-center: 0 auto;

// -> Fonts size

$large: 1.9em;

$xx-medium: 1.6em;
$x-medium: 1.5em;

$xx-normal: 1.2em;
$x-normal: 1.1em;
$normal: 1em;

$small: 0.9em;
$x-small: 0.8em;
$xx-small: 0.7em;
