.container {
  width: $full-width;
}

.wrapper {
  max-width: $max-width;
  margin: $margin-center;
  padding: 50px 20px;
  &__menu {
    max-width: $max-width;
    margin: $margin-center;
  }
  &__footer {
    max-width: $max-width;
    margin: $margin-center;
    padding: 20px;
  }
}
