/*---------- [ FOOTER ] --------- */
.footer {
  background: $dark-grey-color;
  color: #fff;
  &__title {
    margin-bottom: 15px;
  }
  &__links {
    &--link {
      color: #fff;
      font-weight: 100;
      &:hover {
        text-decoration: underline;
      }
    }
    &--icon {
      width: 10px;
      margin-right: 15px;
    }
  }
}
