/* ---- [ HOME - TUTORIAL ] ---- */
.tutorial__steps {
  @include desktop {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  &--item {
    @include desktop {
      margin-left: 20px;
      max-width: 30%;
    }
  }
  &--number {
    @include flexCenter;
  }
}

/* ---- [ HOME - RESTAURANTS ] ----*/
.restaurants {
  &__cards {
    @include desktop {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &--item {
      @include desktop {
        max-width: 49%;
      }
    }
  }
}

/* ---- [ MENU ] ---- */
.menu__cards {
  @include desktop {
    display: flex;
    justify-content: space-around;
  }
  &--list {
    @include desktop {
      width: 30%;
      max-width: 400px;
    }
  }
}
